{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type='text/css' href="{% static 'css/blog.css' %}">
    {% if title %}
    <title>MSME - {{ title }}</title>
    {% else %}
    <title>MSME</title>
    {% endif %}
</head>
<body>
    <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow fixed-top">
            <div class="container">
                <a class="navbar-brand text-light font-weight-bold" href="{% url 'dash-all' %}">Voceanameto | MSME Ahmedabad</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link font-weight-bolder" href="{% url 'dash-all' %}">DashHome</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link font-weight-bolder" href="{% url 'dash-home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-muted" href="{% url 'user-profile' %}"><i class="fa fa-user"></i> Profile</a>
                            <a class="dropdown-item text-muted" href="{% url 'update-table' %}"><i class="fa fa-database"></i> Update Data</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-muted" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-register' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
        
        <br><br><br><br>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div id="analysis">{% block analysis %}{% endblock %}</div>
        <div id="prediction">{% block prediction %}{% endblock %}</div>

        {% block content %}
        {% endblock content %}
    </div>
    {% block dashhome %}
    {% endblock dashhome %}

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>